## Credable  - Tech Interview

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.arima.model import ARIMA
from tabulate import tabulate

### Creating a database connection and import repayment dataframe

In [24]:
import psycopg2
import pandas as pd  # Import pandas for DataFrame handling

# Define the connection string
connection_string = "postgresql://neondb_owner:npg_z9Z3vSTaHUXr@ep-raspy-paper-a5hl0j4k-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"

try:
    # Establish the connection
    conn = psycopg2.connect(connection_string)
    print("Connection to PostgreSQL database established successfully!")

    # Create a cursor object to interact with the database
    cursor = conn.cursor()

    # Query to fetch data from the loan_repayments table
    fetch_data_query = "SELECT * FROM loan_repayments;"

    # Execute the query
    cursor.execute(fetch_data_query)

    # Fetch all rows from the table
    rows = cursor.fetchall()

    # Get column names
    column_names = [desc[0] for desc in cursor.description]

    # Convert the data into a pandas DataFrame
    loan_repayments = pd.DataFrame(rows, columns=column_names)
    print("Data fetched successfully into the DataFrame!")
    print(loan_repayments)

    # Close the cursor and connection
    cursor.close()
    conn.close()
    print("Connection closed.")

except Exception as e:
    print(f"An error occurred: {e}")

Connection to PostgreSQL database established successfully!
Data fetched successfully into the DataFrame!
                                             customer_id  \
0      000514554c34603e8a7551050e988732cf11a22de40fa6...
1      000514554c34603e8a7551050e988732cf11a22de40fa6...
2      000514554c34603e8a7551050e988732cf11a22de40fa6...
3      000514554c34603e8a7551050e988732cf11a22de40fa6...
4      000514554c34603e8a7551050e988732cf11a22de40fa6...
...                                                  ...
26537  fff1eaa909563ca8116ac27992ffb7b8975f2493e2f0bc...
26538  fff1eaa909563ca8116ac27992ffb7b8975f2493e2f0bc...
26539  fff1eaa909563ca8116ac27992ffb7b8975f2493e2f0bc...
26540  fff1eaa909563ca8116ac27992ffb7b8975f2493e2f0bc...
26541  fff1eaa909563ca8116ac27992ffb7b8975f2493e2f0bc...

                            account_num   tenure   disb_date loan_amount  \
0      X2JUBL7TGUNCKG5184U9AEN70I9G60A4  30 days  2024-01-14     3500.00
1      EI3U461M9PEYOLYCTMV7U71P1OJFSTDR   7 days  2024-02-23     3500.00
2      74TFSIMRIRP7M9VAK5GBWRPKAOIKSPUU  30 days  2024-03-07     3500.00
3      2HKCXV2E99ZLRC8RCF946Z7HN6IP9HAI   7 days  2024-04-24     3500.00
4      O3WCPYDPFB2E3VMCLXHAJ5T414FWK0C3  30 days  2024-05-08     3500.00
...                                 ...      ...         ...         ...
26537  8P2XB9GV9J5YBDNKVDMNHZQAHG9VEID2  14 days  2024-05-29      550.00
26538  O8FJF9YH60GCB2CR2KS7JQCI227NDM4K  14 days  2024-06-14      550.00
26539  3YJG7Q9IJHRLT33X272FM4MKPMTDH95J  14 days  2024-07-03      550.00
26540  7U6OD6SO2QPUV99DQCY6JCJN2M49FMFN  14 days  2024-07-20      550.00
26541  9IGIYHJDPJ2A0S8O9SBJYPGQ2GX8TRYN  14 days  2024-08-04      550.00

      loan_fee amount_disbursed last_repayment_date total_repaid
0       525.00          4025.00          2024-02-23      4025.00
1       350.00          3850.00          2024-03-07      3850.00
2       525.00          4025.00          2024-04-24      4025.00
3       350.00          3850.00          2024-05-07      3850.00
4       525.00          4025.00          2024-06-08      4025.00
...        ...              ...                 ...          ...
26537    66.00           616.00          2024-06-12       616.00
26538    66.00           616.00          2024-07-03       616.00
26539    66.00           616.00          2024-07-20       616.00
26540    66.00           616.00          2024-08-04       616.00
26541    66.00           616.00          2024-08-21       616.00

[26542 rows x 9 columns]
Connection closed.

In [40]:
# Check for non-numeric values
non_numeric_ids = loan_repayments[~loan_repayments['customer_id'].str.isnumeric()]
print(non_numeric_ids)

                                             customer_id  \
0      000514554c34603e8a7551050e988732cf11a22de40fa6...
1      000514554c34603e8a7551050e988732cf11a22de40fa6...
2      000514554c34603e8a7551050e988732cf11a22de40fa6...
3      000514554c34603e8a7551050e988732cf11a22de40fa6...
4      000514554c34603e8a7551050e988732cf11a22de40fa6...
...                                                  ...
26537  fff1eaa909563ca8116ac27992ffb7b8975f2493e2f0bc...
26538  fff1eaa909563ca8116ac27992ffb7b8975f2493e2f0bc...
26539  fff1eaa909563ca8116ac27992ffb7b8975f2493e2f0bc...
26540  fff1eaa909563ca8116ac27992ffb7b8975f2493e2f0bc...
26541  fff1eaa909563ca8116ac27992ffb7b8975f2493e2f0bc...

                            account_num   tenure   disb_date loan_amount  \
0      X2JUBL7TGUNCKG5184U9AEN70I9G60A4  30 days  2024-01-14     3500.00
1      EI3U461M9PEYOLYCTMV7U71P1OJFSTDR   7 days  2024-02-23     3500.00
2      74TFSIMRIRP7M9VAK5GBWRPKAOIKSPUU  30 days  2024-03-07     3500.00
3      2HKCXV2E99ZLRC8RCF946Z7HN6IP9HAI   7 days  2024-04-24     3500.00
4      O3WCPYDPFB2E3VMCLXHAJ5T414FWK0C3  30 days  2024-05-08     3500.00
...                                 ...      ...         ...         ...
26537  8P2XB9GV9J5YBDNKVDMNHZQAHG9VEID2  14 days  2024-05-29      550.00
26538  O8FJF9YH60GCB2CR2KS7JQCI227NDM4K  14 days  2024-06-14      550.00
26539  3YJG7Q9IJHRLT33X272FM4MKPMTDH95J  14 days  2024-07-03      550.00
26540  7U6OD6SO2QPUV99DQCY6JCJN2M49FMFN  14 days  2024-07-20      550.00
26541  9IGIYHJDPJ2A0S8O9SBJYPGQ2GX8TRYN  14 days  2024-08-04      550.00

      loan_fee amount_disbursed last_repayment_date total_repaid
0       525.00          4025.00          2024-02-23      4025.00
1       350.00          3850.00          2024-03-07      3850.00
2       525.00          4025.00          2024-04-24      4025.00
3       350.00          3850.00          2024-05-07      3850.00
4       525.00          4025.00          2024-06-08      4025.00
...        ...              ...                 ...          ...
26537    66.00           616.00          2024-06-12       616.00
26538    66.00           616.00          2024-07-03       616.00
26539    66.00           616.00          2024-07-20       616.00
26540    66.00           616.00          2024-08-04       616.00
26541    66.00           616.00          2024-08-21       616.00

[26542 rows x 9 columns]

In [42]:
loan_repayments['customer_id'] = loan_repayments['customer_id'].astype(str)
loan_repayments['tenure'] = loan_repayments['tenure'].astype(str)
loan_repayments['loan_amount'] = loan_repayments['loan_amount'].astype(float)
loan_repayments['loan_fee'] = loan_repayments['loan_fee'].astype(float)
loan_repayments['disb_date'] = pd.to_datetime(loan_repayments['disb_date'])
loan_repayments['last_repayment_date'] = pd.to_datetime(loan_repayments['last_repayment_date'])

In [30]:
loan_repayments

,customer_id,account_num,tenure,disb_date,loan_amount,loan_fee,amount_disbursed,last_repayment_date,total_repaid
0,000514554c34603e8a7551050e988732cf11a22de40fa6...,X2JUBL7TGUNCKG5184U9AEN70I9G60A4,30 days,2024-01-14,3500.00,525.00,4025.00,2024-02-23,4025.00
1,000514554c34603e8a7551050e988732cf11a22de40fa6...,EI3U461M9PEYOLYCTMV7U71P1OJFSTDR,7 days,2024-02-23,3500.00,350.00,3850.00,2024-03-07,3850.00
2,000514554c34603e8a7551050e988732cf11a22de40fa6...,74TFSIMRIRP7M9VAK5GBWRPKAOIKSPUU,30 days,2024-03-07,3500.00,525.00,4025.00,2024-04-24,4025.00
3,000514554c34603e8a7551050e988732cf11a22de40fa6...,2HKCXV2E99ZLRC8RCF946Z7HN6IP9HAI,7 days,2024-04-24,3500.00,350.00,3850.00,2024-05-07,3850.00
4,000514554c34603e8a7551050e988732cf11a22de40fa6...,O3WCPYDPFB2E3VMCLXHAJ5T414FWK0C3,30 days,2024-05-08,3500.00,525.00,4025.00,2024-06-08,4025.00
...,...,...,...,...,...,...,...,...,...
26537,fff1eaa909563ca8116ac27992ffb7b8975f2493e2f0bc...,8P2XB9GV9J5YBDNKVDMNHZQAHG9VEID2,14 days,2024-05-29,550.00,66.00,616.00,2024-06-12,616.00
26538,fff1eaa909563ca8116ac27992ffb7b8975f2493e2f0bc...,O8FJF9YH60GCB2CR2KS7JQCI227NDM4K,14 days,2024-06-14,550.00,66.00,616.00,2024-07-03,616.00
26539,fff1eaa909563ca8116ac27992ffb7b8975f2493e2f0bc...,3YJG7Q9IJHRLT33X272FM4MKPMTDH95J,14 days,2024-07-03,550.00,66.00,616.00,2024-07-20,616.00
26540,fff1eaa909563ca8116ac27992ffb7b8975f2493e2f0bc...,7U6OD6SO2QPUV99DQCY6JCJN2M49FMFN,14 days,2024-07-20,550.00,66.00,616.00,2024-08-04,616.00
26541,fff1eaa909563ca8116ac27992ffb7b8975f2493e2f0bc...,9IGIYHJDPJ2A0S8O9SBJYPGQ2GX8TRYN,14 days,2024-08-04,550.00,66.00,616.00,2024-08-21,616.00

In [34]:
print(loan_repayments.dtypes)

customer_id            object
account_num            object
tenure                 object
disb_date              object
loan_amount            object
loan_fee               object
amount_disbursed       object
last_repayment_date    object
total_repaid           object
dtype: object

### Aggregate total disbursements per month

In [106]:
disbursements_monthly = loan_repayments.groupby(loan_repayments['disb_date'].dt.to_period('M'))['amount_disbursed'].sum().reset_index()
disbursements_monthly['amount_disbursed'] = pd.to_numeric(disbursements_monthly['amount_disbursed'], errors='coerce')
print(disbursements_monthly.dtypes)

disb_date           period[M]
amount_disbursed      float64
dtype: object

### Aggregate total repayments per month

In [107]:
# Aggregate total repayments per month
repayments_monthly = loan_repayments.groupby(loan_repayments['last_repayment_date'].dt.to_period('M'))['total_repaid'].sum().reset_index()
repayments_monthly['total_repaid'] = pd.to_numeric(repayments_monthly['total_repaid'], errors='coerce')
repayments_monthly

  last_repayment_date  total_repaid
0             2024-01    1290894.63
1             2024-02    3326421.48
2             2024-03    4140402.28
3             2024-04    4208130.05
4             2024-05    4448288.57
5             2024-06    3977350.24
6             2024-07    3845234.87
7             2024-08    2893979.81

### Forecasting the Loan disbursments vs loan repayments

##### Because the dataset does not have enough seasonal cycles for time series forecasting using the Holt-Winters method. This requires at least two full seasonal cycles (e.g., 24 months for monthly data with a yearly cycle):         I will use a simpler linear trend model for forecasting instead of a seasonal model.This will estimate the next 3 months based on the historical trend.

In [108]:
# Use ARIMA for simple trend forecasting (no seasonality required)
# Forecast Loan Disbursements
disbursement_arima = ARIMA(disbursements_monthly['amount_disbursed'], order=(1,1,0)).fit()
disbursement_forecast = disbursement_arima.forecast(steps=3)
print(disbursement_forecast)

8     1.092012e+06
9     1.061840e+06
10    1.058507e+06
Name: predicted_mean, dtype: float64

In [121]:
# Forecast Loan Repayments
repayment_arima = ARIMA(repayments_monthly['total_repaid'], order=(1,1,0)).fit()
repayment_forecast = repayment_arima.forecast(steps=3)
print(repayment_forecast)

8     2.271758e+06
9     1.864758e+06
10    1.598537e+06
Name: predicted_mean, dtype: float64

In [123]:
forecast_df = pd.DataFrame({
    'disbursement_forecast': disbursement_forecast,
    'repayment_forecast': repayment_forecast
})
print(forecast_df)

    disbursement_forecast  repayment_forecast
8            1.092012e+06        2.271758e+06
9            1.061840e+06        1.864758e+06
10           1.058507e+06        1.598537e+06

In [127]:
print(tabulate(forecast_df, headers='keys', tablefmt='grid'))

+----+-------------------------+----------------------+
|    |   disbursement_forecast |   repayment_forecast |
+====+=========================+======================+
|  8 |             1.09201e+06 |          2.27176e+06 |
+----+-------------------------+----------------------+
|  9 |             1.06184e+06 |          1.86476e+06 |
+----+-------------------------+----------------------+
| 10 |             1.05851e+06 |          1.59854e+06 |
+----+-------------------------+----------------------+

In [128]:
# Format all values in the DataFrame to remove scientific notation
forecast_df = forecast_df.applymap(lambda x: f"{x:,.2f}")

# Print the formatted DataFrame using tabulate
print(tabulate(forecast_df, headers='keys', tablefmt='grid'))

+----+-------------------------+----------------------+
|    | disbursement_forecast   | repayment_forecast   |
+====+=========================+======================+
|  8 | 1,092,012.45            | 2,271,757.68         |
+----+-------------------------+----------------------+
|  9 | 1,061,840.32            | 1,864,758.12         |
+----+-------------------------+----------------------+
| 10 | 1,058,506.97            | 1,598,537.06         |
+----+-------------------------+----------------------+

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_4796\2352764687.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  forecast_df = forecast_df.applymap(lambda x: f"{x:,.2f}")